<!DOCTYPE html>
<html>

<head>
    <title>Light Position</title>
</head>

<body>
    <canvas id="Arc" width="340" height="100"> canvas</canvas>

    <p id="Angle"></p>

    <script>
        var canvas = document.getElementById('Arc');
        var ctx = canvas.getContext('2d');
        var ctx2 = canvas.getContext('2d');
        var x = 100;
        var y = 100;
        var radius = 80;
        var startAngle = 0 * Math.PI;
        var endAngle = 1 * Math.PI;
        var counterClockwise = false;
        ctx.beginPath();
        ctx.arc(x, y, radius, startAngle, endAngle, true);
        ctx.lineWidth = 1;
        // line color
        ctx.strokeStyle = 'green';


        var anglefromesp = 180;
        
        document.getElementById("Angle").innerText = anglefromesp;

        var angle = getAngle(anglefromesp);

        var startAngle2 = -(angle - 0.01) * Math.PI;
        var endAngle2 = -(angle + 0.01) * Math.PI;
        ctx.stroke();
        ctx2.beginPath();
        ctx2.arc(x, y, radius, startAngle2, endAngle2, true);
        ctx2.lineWidth = 10;
        // line color
        ctx2.strokeStyle = 'Blue';
        ctx2.stroke();

        function getAngle(angle) {
            var number
            if (angle == 180) {
                angle--
            }

            number = ((angle % 180) / 180);
            return number;
        }

    </script>
</body>

</html>